<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="data-spm" content="a215s" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta content="fullscreen=yes,preventMove=no" name="ML-Config" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <% for (var i in htmlWebpackPlugin.options.css) { %>
        <link href="/static/<%= htmlWebpackPlugin.options.css[i] %>" rel="stylesheet">
        <% } %>
</head>

<body>
    <div id="app">
    </div>
    <div id="headerBackdrop" class="vux-header abs-header header-backdrop" style="display:none;">
        <div class="vux-header-title"></div>
    </div>
    <% for (var i in htmlWebpackPlugin.options.js) { %>
        <script type="text/javascript" src="/static/<%= htmlWebpackPlugin.options.js[i] %>"></script>
        <% } %>
</body>
</html>