<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
        .ximg-demo {
            width: 100%;
            height: auto;
        }

        .ximg-error {
            background-color: yellow;
        }

        .ximg-error:after {
            content: '加载失败';
            color: red;
        }
    </style>
</head>

<body>
    <div id="app" style="height:100%">
        <view-box>
            <div v-for="src in list" style="background-color:yellow;text-align:center;">
                <span style="font-size:20px;">Loading</span>
                <x-img :src="src" :webp-src="src+'?type=webp'" @on-success="success" @on-error="error" class="ximg-demo" error-class="ximg-error"
                    :offset="-100" container="#vux_view_box_body"></x-img>
            </div>
        </view-box>
    </div>
</body>

</html>