<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="app">
        <group title="single column" label-width="5em">
            <popup-picker :title="title1" :data="list1" v-model="value1" @on-show="onShow" @on-hide="onHide" @on-change="onChange" placeholder="请选择"></popup-picker>
            <popup-picker :title="title1" :data="list1" v-model="value1_1" @on-show="onShow" @on-hide="onHide" @on-change="onChange" placeholder="请选择">
                <template slot="title" scope="props">
                    <span :class="props.labelClass" :style="props.labelStyle" style="height:24px;">
                        <span class="demo-icon demo-icon-big" style="font-size:20px;vertical-align:middle;"></span>
                        <span style="vertical-align:middle;">手机</span>
                    </span>
                </template>
            </popup-picker>
        </group>
        <group title="single column">
            <popup-picker :title="title1" :data="list1" v-model="value1" @on-show="onShow" @on-hide="onHide" @on-change="onChange" placeholder="请选择"></popup-picker>
        </group>
        <br>
        <div class="picker-buttons">
            <x-button type="primary" @click.native="value1=[]">将值置为空</x-button>
            <x-button type="primary" @click.native="changeList10">重新赋值列表</x-button>
            <x-button type="primary" @click.native="changeList11">push方式更改列表</x-button>
        </div>
        <group title="double columns">
            <popup-picker :title="title2" :data="list2" v-model="value2"></popup-picker>
        </group>
        <br>

        <group title="chained columns">
            <popup-picker :title="title3" :data="list3" :columns="3" v-model="value3" ref="picker3"></popup-picker>
            <cell title="获取值对应的文字" :value="$refs.picker3&&$refs.picker3.getNameValues()"></cell>
            <popup-picker :title="title4" :data="list3" :columns="3" v-model="value4" show-name></popup-picker>
        </group>

        <br>
        <div class="picker-buttons">
            <x-button type="primary" @click.native="changeList21">push方式更改列表</x-button>
        </div>

        <br>
        <divider>Control the visibility of popup-picker</divider>
        <div style="margin: 0 15px;">
            <x-button @click.native="showPopupPicker = true" type="primary">Show PopupPicker. value: {{value5 }}</x-button>
        </div>
        <group>
            <popup-picker :show="showPopupPicker" :show-cell="false" title="TEST" :data="[['1', '2', '3', '4', '5']]" v-model="value5"
                @on-hide="showPopupPicker=false"></popup-picker>
        </group>

        <br>
        <group title="隐藏时不影响其他popup-picker的mask">
            <x-switch title="ishide popup-picker" v-model="switch6"></x-switch>
            <popup-picker v-if="!switch6" title="显示值" :data="['我不会影响遮罩层'.split('')]" v-model="value6"></popup-picker>
        </group>

        <br>
        <br>

        <group title="显示格式化">
            <popup-picker title="时间" :inline-desc="'当前值['+formatDemoValue+']'" v-model="formatDemoValue" :data="[['01','02','03'],['11','12','13']]"
                :display-format="format"></popup-picker>
        </group>
    </div>
</body>

</html>