<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="app">
        <scroller lock-x scrollbar-y use-pulldown @on-pulldown-loading="load" enable-horizontal-swiping ref="scroller" height="400px">
            <div class="box2">
                <div style="height:180px;">
                    <swiper :list="list" direction="horizontal" auto height="180px"></swiper>
                </div>
                <p v-for="i in 80">placeholder {{i}}</p>
            </div>
        </scroller>
    </div>
</body>

</html>