<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="app">
        <group>
            <cell v-for="type in types" :title="type" :key="type">
                <spinner :type="type" slot="value"></spinner>
            </cell>
        </group>
    </div>
</body>

</html>